

{% extends "base.html" %}{% block head %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='extended_beauty.css')}}">

{% endblock %}
{% block content %}
<div class="cont">
<div class="log">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" action="/login">
            <h2>Log In</h2>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" name="user_email"   autocomplete="off" aria-describedby="emailHelp" placeholder="Email Address">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="user_password" autocomplete="new-password"   placeholder="Password">

            </div>
        
           <h4> Don't have an account?   <a href="{{ url_for('register') }}" class="login-link">Create an account</a></h4>
            
              <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>
</div>
    {% endblock %}  
