{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}">
{% endblock %}

{% block content %}
<div class="cont">
    <div class="log">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="name">Enter Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="name" required>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" name="user_email" autocomplete="off"
                    aria-describedby="emailHelp" placeholder="Email Address">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="user_password"
                    autocomplete="new-password" placeholder="Password">

            </div>
         <h4> Already member? <a href="{{ url_for('login') }}" class="login-link">Log in</a></h4>

            <button class="btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}